<!-- app/views/moderator/moderator.ejs -->
<div class="div-container">
    <h1><i class='bx bxs-shield-plus fs-1 icon-color' style="--icon-color: #ffd000;"></i>
        Welcome, Moderator! </h1>

    <div class="moderator-info mb-3">
        <p>Being a moderator in this chat room is a crucial task. Your presence helps maintain a safe and pleasant environment for all users.</p>
    
        <p>The importance of your role lies in creating a positive experience for all participants and contributing to the overall success of the chat room.</p>
    </div>
    
    <div class="button-group action-buttons">
        <button id="btn-moderator-Entranimiento" class="register-btn d-none">Entranimiento</button>
        <button onclick="IpcRenderJS('open-moderator-window')" id="btn-moderator-model" class="button-hopes green-over"><i class='bx bxs-check-shield fs-3'></i>  Moderate</button>     
        <button id="btn-moderator-see-models" class="button-blue green-over d-none"><i class='bx bxs-webcam fs-3'></i>Cams</button>        
        <button onclick="IpcRenderJS('open-record')" id="btn-rec-monitor" class="button-pink green-over"><i class='bx bxs-video-recording fs-3' ></i>Records</button>
        <button onclick="IpcRenderJS('open-exhibitionist-window')" id="exhibitionist-cams-button" class="moderate-model-button green-over"><i class='bx bxs-happy-heart-eyes fs-3' ></i>Exhibitionists</button>        
        <button id="btn-moderator-register" class="moderate-model-button green-over d-none"><i class='bx bx-plus-circle fs-3'></i>Register</button>
    </div>

    <div class="cajita">
        <article>
            <h1>The Role of the Moderator: A Comprehensive Experience</h1>
    
            <p>Being a moderator in our chat rooms is more than just enforcing rules; it involves playing a role that enriches the entire community. We go beyond fundamental responsibilities to explore how full-fledged moderators make our platform unique.</p>
    
            <h2 class="m-3">Moderator Responsibilities</h2>
            <ul>
                <li>Room Regulation and Rule Compliance:</li>
                <li>Fostering a Positive and Respectful Environment:</li>
                <li>Supporting Other Users and Recommending Models:</li>
                <li>Utilizing Advanced Tools for Moderation and Support:</li>
                <li>Exploring the Community and Recording Broadcasts:</li>
            </ul>
    
            <h2>Achievements of Being a Moderator in Broadcast Rooms</h2>
            <p>Becoming a moderator entails not only responsibilities but also notable achievements. Building trust in the community, providing a safe environment, and participating in the construction of a positive experience are milestones that characterize a moderator's success.</p>
    
            <h2>Community Trust and Moderation Opportunity</h2>
            <p>Building trust is crucial. The community relies on moderators to maintain the integrity of the room and foster a respectful environment. Moreover, being a moderator is not just a duty but an opportunity to positively influence the chat dynamics and contribute to community growth.</p>
    
            <h2>Additional Opportunities as a Full-fledged Moderator</h2>
            <p>The full role of a moderator goes beyond basic moderation. There's an opportunity to moderate preferred models, explore artists through our program, support their activity, and encourage broadcasts. Additionally, the ability to record broadcasts for future evaluation provides a valuable tool to enhance model performance.</p>
    
            <hr>
    
            <p>The role of the full-fledged moderator is not only about rule enforcement but also about contributing to a complete experience in our community. We appreciate the dedication of our moderators and recognize their key role in the growth and success of our chat room. Thank you for elevating this unique experience together!</p>
        </article>
    </div>
</div>