<!-- app/views/moderator/moderator.ejs -->
<div class="moderator-container">
    <h1>¡Bienvenido, Moderador!</h1>

    <div class="moderator-info">
        <p>Ser un moderador en esta sala de chat es una tarea crucial. Tu presencia ayuda a mantener un ambiente seguro
            y agradable para todos los usuarios.</p>

        <p>Como moderador, tienes las siguientes responsabilidades:</p>
        <ul>
            <li>Regulación de la sala y garantizar el cumplimiento de las normas.</li>
            <li>Facilitar un ambiente positivo y respetuoso.</li>
            <li>Brindar apoyo a otros usuarios.</li>
            <li>Recomendar a la modelo y su contenido mediante mensajes privados (PM).</li>
        </ul>

        <p>La importancia de tu rol radica en crear una experiencia positiva para todos los participantes y contribuir
            al éxito general de la sala de chat.</p>
    </div>

    <div class="button-group action-buttons">
        <button id="btn-moderator-register" class="register-btn" >Register Modertor</button>
        <button id="btn-moderator-Entranimiento" class="register-btn">Entranimiento Modertor</button>
        <button id="btn-moderator-see-models" class="recommend-button">Ver modelos Azar</button>
        <button id="btn-moderator-model" class="moderate-model-button">Moderar Modelo</button>
        <button id="exhibitionist-cams-button" class="exhibitionist-cams-button">Exhibitionist Cams</button>
        <div class="m-4" hx-on:click="alert('Clicked!')">Click</div>
    </div>

</div>