<div id="menuToglePlay" class="sidebar">
    <a href="#">
        <span class="material-icons-sharp">
            dashboard
        </span>
        <h3>Dashboard</h3>
    </a>
    <a href="#">
        <span class="material-icons-sharp">
        <i class='bx bxs-webcam fs-1'></i>
        </span>
        <h3>Top Models</h3>
    </a>
    <a href="#">
        <span class="material-icons-sharp">
            <i class='bx bx-broadcast fs-1'></i>        
        </span>
        <h3>Broadcast</h3>
    </a>
    
    <a href="#">
        <span class="material-icons-sharp">
            person_outline
        </span>
        <h3>Contacts</h3>
    </a>

    <a href="#">
        <span class="material-icons-sharp">
            <i class='bx bx-trophy fs-1'></i>
        </span>
        <h3>Biography</h3>
    </a>
    
    <a href="#">
        <span class="material-icons-sharp">
            <i class='bx bx-ghost fs-1' ></i>  
        </span>
        <h3>Guest Views</h3>
    </a>
 
    <a href="#" hx-get="/app/moderator" hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bxs-cool fs-1'></i>
        </span>
        <h3>Moderator</h3>
    </a>

    <a href="#" class="active">
        <span class="material-icons-sharp">
            insights
        </span>
        <h3>Analytics</h3>
    </a>

    <a href="#">
        <span class="material-icons-sharp">
            inventory
        </span>
        <h3>Topics</h3>
    </a>

    <a href="#">
        <span class="material-icons-sharp">
        <i class='bx bxs-star-half fs-1'></i>   
        </span>
        <h3>Favorites</h3>
    </a>
    <a href="#">
        <span class="material-icons-sharp">
            <i class='bx bx-comment-dots fs-1'></i>
        </span>
        <h3>Traductor</h3>
    </a>
    <a href="#">
        <span class="material-icons-sharp">
            <i class='bx bxs-wine fs-1'></i>
        </span>
        <h3>Lougee</h3>
    </a>
    
    <a href="#">
        <span class="material-icons-sharp">
            settings
        </span>
        <h3>Settings</h3>
    </a>
 
    <a href="#">        
        <span class="material-icons-sharp">
            logout
        </span>
        <h3>Logout</h3>
    </a>
</div>
</aside>