<!-- app/views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= nomeSite %> - Home</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="title-bar">
    <img class="app-icon" src="../src/icons/icon2.png" alt="App Home">
    <p class="app-name">.::: PlaysCam :::. The Best App to view Live Cams 😈 </p>
    <div id="win-close" class="close-btn"></div>
    <div id="win-maximize" class="max-restore-btn"></div>
    <div id="win-mini" class="minimize-btn"></div>        
  </div>
<div class="container mt-5 mb-4">
  <h1>App ready <%= nomeSite %></h1> 
  
  <strong>ready</strong>
</div>
</body>
</html>
