<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= nomeSite %> - App PlaycamHub
    </title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script defer src="/modules/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/modules/boxicons/css/boxicons.min.css">
</head>

<body>
    <div class="title-bar">
        <img class="app-icon" src="/images/logo2.png" alt="App Home">
        <p class="app-name"> Ultimate Live Cam Viewer: Your Gateway to Unmatched Live Streams </span></p>
        <div id="win-close" class="close-btn"></div>
        <div id="win-maximize" class="max-restore-btn"></div>
        <div id="win-mini" class="minimize-btn"></div>
    </div>

    <div class="container">
        <aside>
            <div id="toggleMenu" class="toggle">
                <div class="logo">
                    <img src="/images/logo2.png">
                    <h2><span class="logis">PlayCam</span><span class="danger">Hub</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <%- include('app_menu') %>
                <!-- End of Sidebar Section -->
                <!-- Main Content -->
                <div id="contenido_app">
                    <%- include('app_content') %>
                        <!-- End of Main Content -->
                </div>
                <!-- Right Section -->
                <div id="right_section">
                    <%- include('app_menu_right') %>
                </div>
    </div>

    <script src="/js/menu.js"></script>
</body>

</html>