<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> PlaycamHub- Exhibitionist Chaturbate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/modules/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/exhibitionist.css">

    <script defer src="/modules/htmx.org/dist/htmx.min.js"></script>
    <link rel="icon" href="/images/logo2.png" type="image/png">
    <script defer src="/js/lib/vue2.js"></script>
    <script defer src="/js/renders/Vue-exhibitionist.js"></script>
    <script defer src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container mt-2">
        <div class="container text-center text-white mb-3">
            <h1> PlayCam<span class="logis">Hub</span> - Chaturbate Exhibitionist Cams</h1>
        </div>
        <!-- #app -->
        <div id="app">
            <div class="row">
                <div class="col-6" id="cams-exhibitionist">
                    <ul class="list-group list-group-flush w-100">
                        <li v-for="(exhibitionist, index) in filteredExhibitionists" :key="index"
                            class="list-group-item exhibitionist-item shadow rounded-3
                             bg-opacity-25 bg-dark" >

                            <div class="exhibitionist-details">
                                <img :src="exhibitionist.image_url" class="exhibitionist-img" alt="Exhibitionist Image">
                                <div class="exhibitionist-info mx-4 text-start">
                                    <h4 class="card-title nameTag" :name="exhibitionist.username">
                                        <i class='bx bxs-webcam fs-5'></i>
                                        {{ exhibitionist.username }}
                                        <i v-if="exhibitionist.gender === 'f'" class='bx bx-female'></i>
                                        <i v-else-if="exhibitionist.gender === 'm'" class='bx bx-male'></i>
                                        <i v-else-if="exhibitionist.gender === 't'" class='bx bx-male-sign'></i>
                                        <i v-else-if="exhibitionist.gender === 'c'" class='bx bx-male-female'></i>
                                    </h4>
                                    <p class="card-text">Location: {{ exhibitionist.location }}</p>
                                    <p class="card-text text-start">
                                        <i class='bx bxs-bullseye'></i>
                                        Views: {{ exhibitionist.num_users }}
                                        |
                                        <i class='bx bxs-objects-horizontal-left'></i>
                                        Followers: {{ exhibitionist.num_followers }}
                                        <br>
                                    <p>
                                        <span v-if="exhibitionist.age">Age: {{ exhibitionist.age }}</span>
                                        <span v-else>Age: No age</span>
                                        |
                                        <i :title="'Online Time: ' + exhibitionist.seconds_online"
                                            class='bx bxs-objects-vertical-bottom'></i>:
                                        {{ calculateTime(exhibitionist.seconds_online) }}
                                    </p>
                                    <a :href="exhibitionist.chat_room_url"
                                        class="btn btn-dark text-white bg-black bg-opacity-50 d-none">
                                         Exhibitionist
                                    </a>
                                    <div class="progress" v-if="exhibitionist.showProgress">
                                        <div class="progress-bar" role="progressbar"
                                            :style="{ width: exhibitionist.progress + '%' }" aria-valuenow="100"
                                            aria-valuemin="0" aria-valuemax="100">{{ exhibitionist.progress }}%</div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-6">
                    <div class="container p-3 m-2 shadow rounded-3 bg-black bg-opacity-50 text-warning ">

                        <form @submit.prevent="submitForm">
                            <div class="mb-3">
                                <label class="form-label">Filter By, Exhibitionist</label>
                                <select class="form-select" v-model="filterBy" required>
                                    <option disabled value="">Please select one</option>
                                    <option value="num_users">Number of Views</option>
                                    <option value="num_followers">Number of Followers</option>
                                    <option value="seconds_online">By Seconds Online</option>
                                </select>
                            </div>
                            <div class="mb-3">

                                <label class="form-label">Sort Order</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="sortOrder" value="asc"
                                        checked>
                                    <label class="form-check-label">Ascending</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="sortOrder" value="desc">
                                    <label class="form-check-label">Descending</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger shadow">Filter</button>
                            <button class="btn btn-warning shadow bg-opacity-50">Login CB</button>
                        </form>
                    </div>

                    <div id="trafico" class="container p-3 m-2 shadow rounded-3 bg-black bg-opacity-50 text-warning">
                        <label for="interval-select">Select Interval:</label>
                        <select id="interval-select" class="form-select mb-2" v-model="selectedInterval">
                            <option value="3">Every 3 seconds</option>
                            <option value="5">Every 5 seconds</option>
                            <option value="10">Every 10 seconds</option>
                            <option value="15">Every 15 seconds</option>
                            <option value="20">Every 20 seconds</option>
                            <option value="30">Every 30 seconds</option>
                            <option value="40">Every 40 seconds</option>
                            <option value="60">Every 60 seconds</option>
                            <option value="120">Every 2 minutes</option>
                            <option value="180">Every 3 minutes</option>
                        </select>
                        <label for="interval-selectedCloseWin">Close Exhibitionist Cam :</label>
                        <select id="interval-selectedCloseWin" class="form-select mb-4" v-model="selectedCloseWin">
                            <option value="60">Every 60 seconds</option>
                            <option value="120">Every 2 minutes</option>
                            <option value="180">Every 3 minutes</option>
                            <option value="240">Every 4 minutes</option>
                            <option value="300">Every 5 minutes</option>
                            <option value="600">Every 10 minutes</option>
                        </select>
                        <button :disabled="isLoading" class="btn btn-success w-100 shadow bg-opacity-50 shadow-lg"
                            @click="startTraffic">Start Traffic 
                            (Exhibitionists)
                            <div v-if="isLoading">
                                <i class='bx bx-loader-circle bx-spin fs-4'></i>
                                   <span> Worker Start ... </span>
                                   ({{ filteredExhibitionists.length }})
                                     of 
                                   {{finalCounter}}
                            </div>
                            
                        </button>
                            <ul p-3="" class="mb-4 shadow rounded-3">
                                <li v-for="(user, index) in visitedUsers" :key="user" class="p-2 text-text"
                                style="list-style: none; content: '';">                               
                                    <img :src="getUserImage(user)" class="exhibitionist-img" alt="Exhibitionist Image" style="width: 50px; height: auto;">
                                 <span class="text-capitalize">   Visit: 💜 {{ user }},  </span>
                                    <i class='bx bx-ghost'></i>
                                    PLayCam
                                    (<span>{{ index + 1 }}</span>)
                                
                                </li>
                            </ul>                           
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>