<!-- app/views/traductor/traductor_audio.ejs -->
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Audio Playcam</title>
    <link rel="icon" href="/images/logo2.png" type="image/png">
    
</head>

<body>

    <div class="wrapper">
        <h1>Traductor Audio Playcam</h1>

        <header>
            <h2>
                <%= message %>
            </h2>
        </header>

        <section class="main-controls">
            <canvas class="visualizer" height="60px"></canvas>
            <div id="buttons">
                <button id="btn-record" class="button-pink">Record</button>
                <button id="btn-stop" class="stop">Stop</button>
            </div>
        </section>

        <section class="sound-clips">


        </section>

    </div>

    <label for="toggle">❔</label>
    <input type="checkbox" id="toggle">
    <aside>
        <h2>Information</h2>
        <h1>Translator Playcam: Revolutionizing Real-Time Translation</h1>

        <p>
            In an interconnected world, effective communication is key. Translator Playcam, an innovative application, not only provides real-time translations in broadcasts and chats but also gives you the ability to record and receive translations directly from your microphone. Explore its standout advantages below:
        </p>
    
        <h2>Advantages of Translator Playcam:</h2>
    
        <ul>
            <li><strong>Instant Translation:</strong> Experience real-time translation for smooth and delay-free communication.</li>
            <li><strong>Multi-language Compatibility:</strong> Tackle language barriers effortlessly, supporting a wide variety of languages.</li>
            <li><strong>Intuitive Interface:</strong> Navigate seamlessly through the app with a user-friendly interface designed for all skill levels.</li>
            <li><strong>Voice Recording and Translation:</strong> Record your voice directly from the microphone and receive instant translations, enabling more dynamic and natural communication.</li>
            <li><strong>Customization of Preferences:</strong> Tailor the app to your preferences, from automatic translation to personalized expression adjustments.</li>
            <li><strong>Security and Privacy:</strong> Safeguard your conversations with end-to-end encryption, ensuring the security and confidentiality of your interactions.</li>
        </ul>
    
        <p>
            Translator Playcam is not just a translation tool; it's the bridge that connects people from different languages, facilitating understanding and collaboration. Download Translator Playcam today and discover the new dimension of borderless communication.
        </p>

    </aside>
    <script src="/js/audio/record.js"></script>

</body>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        background-color: #333333ad;
        color: #111111;
    }

    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 0.8rem;
    }

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    h1,
    h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
        padding: 0.5rem 0 0 0;
        color: #fff;
    }

    .main-controls {
        padding: 0.5rem 0;
    }

    canvas {
        display: block;
        margin-bottom: 0.5rem;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #buttons button {
        font-size: 1rem;
        padding: 1rem;
        width: calc(50% - 0.25rem);
    }

    button {
        font-size: 1rem;
        background: #33343548;
        text-align: center;
        color: white;
        border: none;
        transition: all 0.2s;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    button:active {
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
        transform: translateY(2px);
    }


    /* Make the clips use as much space as possible, and
           * also show a scrollbar when there are too many clips to show
           * in the available space */
    .sound-clips {
        flex: 1;
        overflow: auto;
    }

    section,
    article {
        display: block;
    }

    .clip {
        padding-bottom: 1rem;
    }

    audio {
        width: 100%;
        display: block;
        margin: 1rem auto 0.5rem;
    }

    .clip p {
        display: inline-block;
        font-size: 1rem;
    }

    .clip button {
        font-size: 1rem;
        float: right;
    }

    button.delete {
        background: #f00;
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
    }

    /* Checkbox hack to control information box display */

    label {
        font-size: 3rem;
        position: absolute;
        top: 2px;
        right: 3px;
        z-index: 5;
        cursor: pointer;
        background-color: black;
        border-radius: 10px;
    }

    input[type=checkbox] {
        position: absolute;
        top: -100px;
    }

    aside {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: 0.3s all ease-out;
        background-color: #efefef;
        padding: 1rem;
    }

    aside p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    aside a {
        color: #666;
    }

    /* Toggled State of information box */
    input[type=checkbox]:checked~aside {
        transform: translateX(0);
    }

    /* Cursor when clip name is clicked over */

    .clip p {
        cursor: pointer;
    }

    /* Adjustments for wider screens */
    @media all and (min-width: 800px) {

        /* Don't take all the space as readability is lost when line length
               goes past a certain size */
        .wrapper {
            width: 90%;
            max-width: 1000px;
            margin: 0 auto;
        }
    }

    p {
        text-align: center;
    }

     li {
        list-style: none;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa2d;
        transition: background-color 0.3s ease;
    }
    li::before {
        content: '🔘';
        margin-right: 10px;
        font-size: 1.2em;
    }
    
    li:hover {
        background-color: #bcf3623f;
    }
    .button-hopes {
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    }
    .button-blue {
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }
    .button-pink {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    }
</style>

</html>