<!-- app/views/traductor/traductor.ejs -->
<h1>Traductor View</h1>

<h3>Playcam Translator: The Revolution of Real-Time Translation</h3>

<p>
    In an interconnected world, effective communication is key. Playcam Translator, an innovative application, has
    arrived to transform the way we communicate, enabling real-time translations in broadcasts
    and chats. Discover its outstanding advantages below:
</p>
<br>

<div class="button-group action-buttons">
<button  onclick="IpcRenderJS('open-traductor-window')"  id="btn-traductor" class="button-blue green-over">
    Translator</button>
<button id="btn-traductor-audio" class="button-pink green-over">Audio to Text</button>
</div>
<h3 class="m-3">Advantages of Playcam Translator:</h3>

<ul>
     <li><strong>Instant Translation:</strong> Experience translation in real time for fluid communication and
         without delays.</li>
     <li><strong>Multilingual Compatibility:</strong> Addresses language barriers with ease, supporting a wide range of
         variety of languages.</li>
     <li><strong>Intuitive Interface:</strong> Navigate effortlessly through the app with an easy-to-use interface
         use, designed for all skill levels.</li>
     <li><strong>Personalization of Preferences:</strong> Adapt the application according to your preferences, from translation
         automatic to custom expression settings.</li>
     <li><strong>Security and Privacy:</strong> Protect your conversations with end-to-end encryption,
         guaranteeing the security and confidentiality of your interactions.</li>
</ul>

<p>
     Playcam Translator is not only a translation tool; It is the bridge that connects people from different
     languages, facilitating understanding and collaboration. use Playcam Translator today and unlock a new
     world of borderless communication with your models and tippers.
</p>