<!-- app/views/traductor/traductor.ejs -->
<h1>Traductor View</h1>
<p>
    <%= message %>
</p>
<h3>Traductor Playcam: La Revolución de la Traducción en Tiempo Real</h3>

<p>
    En un mundo interconectado, la comunicación efectiva es clave. Traductor Playcam, una aplicación innovadora, ha
    llegado para transformar la manera en que nos comunicamos, permitiendo traducciones en tiempo real en transmisiones
    y chats. Descubre sus ventajas destacadas a continuación:
</p>
<br>

<div class="button-group action-buttons">
<button  onclick="IpcRenderJS('open-traductor-window')"  id="btn-traductor" class="button-blue green-over">Probar Traductor</button>
<button id="btn-traductor-audio" class="button-pink green-over">Audio a Texto</button>
</div>
<h3 class="m-3">Ventajas de Traductor Playcam:</h3>

<ul>
    <li><strong>Traducción Instantánea:</strong> Experimenta la traducción en tiempo real para una comunicación fluida y
        sin demoras.</li>
    <li><strong>Compatibilidad Multilingüe:</strong> Aborda barreras idiomáticas con facilidad, admitiendo una amplia
        variedad de idiomas.</li>
    <li><strong>Interfaz Intuitiva:</strong> Navega sin esfuerzo a través de la aplicación con una interfaz fácil de
        usar, diseñada para todos los niveles de habilidad.</li>
    <li><strong>Personalización de Preferencias:</strong> Adapta la aplicación según tus preferencias, desde traducción
        automática hasta ajustes personalizados de expresiones.</li>
    <li><strong>Seguridad y Privacidad:</strong> Protege tus conversaciones con cifrado de extremo a extremo,
        garantizando la seguridad y la confidencialidad de tus interacciones.</li>
</ul>

<p>
    Traductor Playcam no solo es una herramienta de traducción; es el puente que conecta a personas de diferentes
    idiomas, facilitando la comprensión y la colaboración. usa hoy mismo Traductor Playcam y desbloquea un nuevo
    mundo de comunicación sin fronteras con tus modelos y tipers.
</p>