<div id="menuToglePlay" class="sidebar">

    <a href="#" hx-get="/app/dashboard" data-hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bx-customize fs-1'></i>
        </span>
        <h3>Dashboard</h3>
    </a>

    <a href="#" hx-get="/app/topmodels" hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bxs-webcam fs-1'></i>
        </span>
        <h3>Top Models</h3>
    </a>

    <a href="#" hx-get="/app/broadcast" hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bx-broadcast fs-1'></i>
        </span>
        <h3>Broadcast</h3>
    </a>

    <a href="#" hx-get="/app/contacts" hx-target="#app_content">
        <i class='bx bxs-contact fs-1'></i>
        <h3>Contacts</h3>
    </a>

    <a href="#" hx-get="/app/biography" hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bx-trophy fs-1'></i>
        </span>
        <h3>Biography</h3>
    </a>

    <a href="#"  hx-get="/app/bots" hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bx-ghost fs-1'></i>
        </span>
        <h3>Guest Views</h3>
    </a>

    <a href="#" hx-get="/app/moderator" hx-target="#app_content" >
        <span class="material-icons-sharp">
            <i class='bx bxs-cool fs-1'></i>
        </span>
        <h3>Moderator</h3>
    </a>

    <a href="#" hx-get="/app/analytics" data-hx-target="#app_content">
        <i class='bx bx-stats fs-1'></i>
        <h3>Analytics</h3>
    </a>

    <a href="#" hx-get="/app/topics" data-hx-target="#app_content">
        <i class='bx bx-clipboard fs-1'></i>
        <h3>Topics AI</h3>
    </a>

    <a href="#" hx-get="/app/favorites" data-hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bxs-star-half fs-1'></i>
        </span>
        <h3>Favorites</h3>
    </a>

    <a href="#" id="traductor-link" hx-get="/app/traductor" data-hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bx-comment-dots fs-1'></i>
        </span>
        <h3>Traductor</h3>
    </a>    

    <a href="#" hx-get="/app/lougee" data-hx-target="#app_content">
        <span class="material-icons-sharp">
            <i class='bx bxs-wine fs-1'></i>
        </span>
        <h3>Lougee</h3>
    </a>

    <a href="#" hx-get="/app/settings" data-hx-target="#app_content">
        <i class='bx bx-cog fs-1'></i>
        <h3>Settings</h3>
    </a>
    
    <a id="link-login-out" href="#" class="mt-5" title="Logout System">
        <i class='bx bx-log-out-circle fs-1'></i>
        <h3>Logout</h3>
    </a>
</div>
</aside>