<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> PlaycamHub- Chaturbate Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/modules/boxicons/css/boxicons.min.css">  
    <link rel="icon" href="/images/logo2.png" type="image/png">
    <script defer src="/js/lib/vue2.js"></script>
    <script defer src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #640080a6 #0a0a0b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;    
  }

  *::-webkit-scrollbar-track {
    background: #0a0a0b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #640080a6;
    border-radius: 6px;
    border: 3px solid #0d1c19;
  }
    </style>
</head>

<body>
    <div class="w-100">
        <div class="ratio ratio-16x9">
            <iframe frameborder="0" src="https://chaturbate.com/fullvideo/?campaign=gQ4iQ&signup_notice=1&tour=dU9X&disable_sound=1&b=<%= url_player %>" title="video" allowfullscreen></iframe>
          </div>
   
    </div>

</body>
</html>